
    
    <!-----------Navbar-------------->
    <nav class="navbar item">
      <div class="navbar-content">
        <div class="logo logo1">
          <img src="assets/image/mp-logo.png" alt="Logo" />
          <div class="lname">
            <h2>Media Player</h2>
          </div>
        </div>
        <div class="heading">
          <h4>Songs</h4>
        </div>
  
        <div class="user logo">
          <img src="assets/image/user.png" alt="" />
        </div>
      </div>
  
      <hr />
    </nav>
    