
<!-- {{title}} -->

<button (click)="changeColor()" [style.color]="'black'">Darkmode</button>
<app-header></app-header>

<div [style.backgroundColor]="color1" class="container">

  <div class="container1">
    <section class="section item">

      <div class="main-section">
        <div class="coldplay cp1">
          <img
            src="../assets/image/alone.jfif"
            alt=""
          />
        </div>
        <div class="coldplay cp2">
          <img
            src="../assets/image/lucifer.jfif"
            alt=""
          />
        </div>
        <div class="coldplay cp3">
          <img
            src="../assets/image/coldplay3.jfif"
            alt=""
          />
        </div>
      </div>

      <!-- Latest Release-->

      <div class="main-section-2-latest">
        <div class="heading-main-section-3">
          <h1>Latest Release</h1>
        </div>
        <hr />
        <div class="main-section main-section-2">
          <div class="music-4-contain">
            <div class="section-box-image">
              <img
                src="../assets/image/faded.jfif"
                alt=""
              />
            </div>
            <div class="section-music-detail">
              <h3>Faded</h3>
              <p class="detail-size">Alan Walker</p>
            </div>
          </div>
          <div class="music-4-contain">
            <div class="section-box-image">
              <img
                src="../assets/image/wewill.jfif"
                alt=""
              />
            </div>
            <div class="section-music-detail">
              <h3>We will Rock!</h3>
              <p class="detail-size">Queens</p>
            </div>
          </div>
          <div class="music-4-contain">
            <div class="section-box-image">
              <img
                src="../assets/image/havana.jfif"
              />
            </div>
            <div class="section-music-detail">
              <h3>Havana</h3>
              <p class="detail-size">Camila Cabello</p>
            </div>
          </div>
          <div class="music-4-contain">
            <div class="section-box-image">
              <img
                src="../assets/image/imaginebeliver.jfif"
                alt=""
              />
            </div>
            <div class="section-music-detail">
              <h3>Thunder</h3>
              <p class="detail-size">Imagine Dragons</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Popular Artist-->

      <div class="main-section-3">
        <div class="heading-main-section-3">
          <h1>Popular Artist</h1>
        </div>
        <hr />
        <div class="main-section-3-inner-1">
          <div class="main-section-3-inner-1-img">
            <a href="about.html"
              ><img src="../assets/image/coldplay1.jfif" alt=""
            /></a>
            <h5>Coldplay</h5>
          </div>
          <div class="main-section-3-inner-1-img">
            <img src="../assets/image/alone.jfif" alt="" />
            <h5>Alan Walker</h5>
          </div>
          <div class="main-section-3-inner-1-img">
            <img src="../assets/image/bamboo.jfif" alt="" />
            <h5>Shakira</h5>
          </div>
        </div>
        <div class="main-section-3-inner-2">
          <div class="main-section-3-inner-2-img">
            <img src="../assets/image/zaynmalik.jfif" alt="" />
            <div class="main-section-3-inner-2-img-detail">
              <h5>ZAYN</h5>
            </div>
          </div>
          <div class="main-section-3-inner-2-img">
            <img src="../assets/image/rockstar.jfif" alt="" />
            <div class="main-section-3-inner-2-img-detail">
              <h5>POST</h5>
            </div>
          </div>

          <div class="main-section-3-inner-2-img">
            <img src="../assets/image/hynmfor.jfif" alt="" />
            <div class="main-section-3-inner-2-img-detail">
              <h5>COLD</h5>
            </div>
          </div>
        </div>
        <div class="main-section-3-inner-3">
          <div class="main-section-3-inner-3-img">
            <img
              class="main-section-3-inner-3-img-img"
              src="../assets/image/faded.jfif"
              alt=""
            />
            <div class="main-section-3-inner-3-img-detail">
              <h5>Alan-Walker</h5>
            </div>
          </div>
          <div class="main-section-3-inner-3-img">
            <img
              class="main-section-3-inner-3-img-img"
              src="../assets/image/6.jpg"
              alt=""
            />
            <div class="main-section-3-inner-3-img-detail">
              <h5>Ed Sheeran</h5>
            </div>
          </div>
          <div class="main-section-3-inner-3-img">
            <img
              class="main-section-3-inner-3-img-img"
              src="../assets/image/2.jpg"
              alt=""
            />
            <div class="main-section-3-inner-3-img-detail">
              <h5>Martin Garrix</h5>
            </div>
          </div>
        </div>
      </div>     
    </section>



    
  </div>
</div>

<app-media-player></app-media-player>
